<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ascendon.ContentService.Contract" version="1.0.0-alpha-88" targetFramework="net461" />
  <package id="Ascendon.SDK.Contract" version="1.8.1" targetFramework="net461" />
  <package id="CoreService.Contract" version="19.2.10000.11246" targetFramework="net461" />
  <package id="CsvHelper" version="12.1.1" targetFramework="net46" />
  <package id="ExcelDataReader" version="3.4.0" targetFramework="net46" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="ObjectDumper" version="1.0.0.12" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" requireReinstallation="true" />
</packages>